@font-face {
  font-family: 'Museo Sans 100 Thin Italic';
  src: url(../fonts/MuseoSansCyrl-100Italic.eot);
  src: url(../fonts/MuseoSansCyrl-100Italic.eot) format('embedded-opentype'),
  url(../fonts/MuseoSansCyrl-100Italic.woff) format('woff'),
  url(../fonts/MuseoSansCyrl-100Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Museo Sans 300 Light Italic';
  src: url(../fonts/MuseoSansCyrl-300.eot);
  src: url(../fonts/MuseoSansCyrl-300.eot) format('embedded-opentype'),
  url(../fonts/MuseoSansCyrl-300.woff) format('woff'),
  url(../fonts/MuseoSansCyrl-300.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Museo Sans 500 Medium Italic';
  src: url(../fonts/MuseoSansCyrl-500Italic.eot);
  src: url(../fonts/MuseoSansCyrl-700Italic.eot) format('embedded-opentype'),
  url(../fonts/MuseoSansCyrl-500Italic.woff) format('woff'),
  url(../fonts/MuseoSansCyrl-500Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Museo Sans 700 Bold Italic';
  src: url(../fonts/MuseoSansCyrl-700Italic.eot);
  src: url(../fonts/MuseoSansCyrl-700Italic.eot) format('embedded-opentype'),
  url(../fonts/MuseoSansCyrl-700Italic.woff) format('woff'),
  url(../fonts/MuseoSansCyrl-700Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'Museo Sans 900 Black Italic';
  src: url(../fonts/MuseoSansCyrl-900Italic.eot);
  src: url(../fonts/MuseoSansCyrl-900Italic.eot) format('embedded-opentype'),
  url(../fonts/MuseoSansCyrl-900Italic.woff) format('woff'),
  url(../fonts/MuseoSansCyrl-900Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  *, *:after, *:before{
    box-sizing: border-box;
  } 
    body{
      font-family: "Museo Sans Light", sans-serif;
      overflow: hidden;
    }
    img{
      max-width: 100%;
    }
    .main{
      background-color: #f5f5f5;
    }
    .container-main {
      max-width: 1170px;
      margin: 0 auto;
    }
     .header-wrap{
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      align-items: center;
      margin: 0 auto;
      max-width: 1170px;
      height: 97px;
    }
    .header-text{
      display: flex;
      align-items: center;
    }
    .header-text__city{
      display: block;
      font-size: 13px;
      margin-bottom: 9px;
      font-family : «Museo Sans Cyrl -300»;
    }
    .header-text__contacts{
      text-align: right;
      margin-right: 30px;
    }
    .header-text__phone{
      display: block;
      text-decoration: none;
      color: #333333;
      font-family: 'Museo Sans 700 Bold Italic', sans-serif;
      font-size: 20px;
    }
    .button{
      padding: 17px 30px;
      font-size: 13px;
      font-family: 'Museo Sans 700 Bold Italic', sans-serif;
      border: none;
      border-radius: 10px;
      background-color: #ffd200
    }
    .button:hover{
      background-color: #b7eb8d;
      cursor: pointer;
    }
    .button:focus{
      outline: none;
    }
    .main-wrap{
      display: flex;
      height: 590px;
    }
    .main-text{
      flex-basis: 50%;
    }
    h1{
      width: 462px;
      color: #333333;
      font-family: "Museo Sans Cyrl -700";
      font-size: 41px;
      font-weight: 400;
      line-height: 55px;
    }
    .main-img{
      flex-basis: 50%;
      transform-origin: top;
      transform: scale(1.5);
      position: relative;
      z-index: 1;
      margin-left: 98px;
    }
    .main-text__title{
      font-size: 41px;
      margin-bottom: 50px;
      line-height: 55px;
      margin-top: 20px;
    }
    .h1-span{
      font-size: 20px;
      display: block;
      margin-top: 20px;
      font-family: "Museo Sans Cyrl -700";
    }
.main-advantages{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
.main-advantages__item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.main-advantages__text{
  font-family : «Museo Sans Cyrl -300»;

}

.main-advantages__img{
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffd200;
  margin-right: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
}
.main-advantages__img-1{
  background: url('../img/clock.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center; 
}
.main-advantages__img-2{
  background: url('../img/calculator.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-advantages__img-3{
  background: url('../img/paint-board-and-brush.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.container{
  margin: 0 auto;
  width: 1170px;
  height: 595px;
}
.img-form{
  flex-basis: 50%;
  transform-origin: left top;
  transform: scale(1.6);
  position: relative;
  padding-left: 100px;
}
.form-form{
  flex-basis: 50%;
  max-width: 575px;
  height: 411px;
  margin-top: 64px;
}
.form{
  display: flex;
}
.form__title{
  width: 506px;
  height: 59px;
  color: #333333;
  font-family: "Museo Sans Cyrl -700";
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 45px;
}
input{
  font-size: 15px;
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid  #dddddd;
  font-family : «Museo Sans Cyrl -300»;
}
.input-form{
  width: 270px;
  height: 65px;
  margin-bottom: 30px;
}
.input-name{
  margin-right: 30px;
}
.form__subtitle{
  padding-bottom: 50px;
  display: block;
  font-family : «Museo Sans Cyrl -300»;
  
}
.button-text{
  font-family: "Museo Sans Cyrl -700";
  font-size: 16px;
  display: block;
  width: 100%;
  height: 70px;
  margin-bottom: 31px;
}
.form__contact{
  display: block;
  width: 210px;
  height: 39px;
  color: #333333;
  font-family: "Museo Sans Cyrl -300";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 78px;
}
.inverse{
  display: flex;
  justify-content: space-between;
}
.form__tel-text{
  width: 189px;
  height: 12px;
  color: #333333;
  font-family: "Museo Sans Cyrl -300";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.form__tel-tel{
  display: block;
  width: 133px;
  height: 13px;
  color: #333333;
  font-family: "Museo Sans Cyrl -700";
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
.form__tel-img{
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  background: url('../img/phone.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px){
  body{
  overflow: hidden;
  }
 .container{ 
   width: 900px;
 }
 .header-wrap{
   width: 900px;
   justify-content:center;
 }
 .container-main{
   width: 900px;
 }
 .img-form{
   width: 0%;
 }
 .main-img{
  width: 90%;
}
}
@media (max-width: 992px){
  .body{
    overflow: hidden;
  }
  .container{ 
    width: 767px;
  }
  .header-wrap{
    width: 767px;
    justify-content:center;
    
  }
  .container-main{
    width: 767px;
    margin-bottom: 0px;
  }
  .main-text__title{
    padding-top: 50px;
  }
  .main-img {
    padding-top: 50px;
    width: 95%;
  }
}
 @media (max-width: 768px){
  .header-wrap{
    width: 90%;
  }
  .form{
    width: 90%;
  }
  .button-text{
    width: 90%;
  }
  .input{
    width: 90%;
  }
  .inverse{
    width: 90%;
  }
  .form__tel-img{
    display: none;
  }
  .main-img {
    display: flex;
    direction: center;
    transform: scale(1.0);
    height: 85%;
    margin-left: 30px;
    margin-right: 5px;
    width: 80%
  }
  .main-text__title {
    font-size: 25px;
    width: 90%;
    margin-top: 50px;
  }
  .main-advantages {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}
  .main-wrap{
    display: block;
    width: 90%;
    text-align: center;
    margin-bottom: 400px;
  }
}
  
 @media (max-width: 576px){
  .body{
    overflow: hidden;
  }
  .header-wrap{
    display: block;
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .main-text__title {
    font-size: 20px;
    width: 80%;
  }
  .main-img{
    height: 85%;
    margin-left: 5px;
    margin-right: 5px;
    width: 80%
  }
  .header-text{
    width: 500px;
    margin: 0 0;
  }
  .header-text__phone{
    font-size: 15px;
    width: 100%;
  }
  .form{
    width: 70%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .button-text{
    width: 70%;
    text-align: center;
    display: inline;
  }
  .input{
    width: 70%;
    margin-left: 0;
    margin-right: 0;
  }/*
  .inverse{
    width: 70%;
    margin-left: 0;
    margin-right: 0;
  }*/
  .form__tel-img{
    display: none;
  }
  .form__title{
    font-size: 20px;
    width: 90%;
    margin-bottom: 50px;
    text-align: center;
  }
  .form__subtitle{
    font-size: 15px;
    text-align: center;
    width: 90%;
  }
 }
 @media (max-width: 480px){
  .body{
    overflow-x: hidden;
  }
  .header-wrap{
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .container-main{
    margin: 0 0;
    width: 100%;
  }
  .main-wrap{
    width: 100%;
    height: 100%;
    margin: 0 0;
   }
   .main-text__title{
    width: 70%;
    margin-right: 0px;
    margin-left: 55px;
    padding-bottom: 15px;
    line-height: 15px;
    font-size: 15px;
   }
   .main-advantages{
    width: 100%;
    height: 100%;
    margin: 0 0;
   }
   .main-advantages__img{
     margin-left: 15px;
   }
   .main-advantages__item{
     margin-bottom: 60px;
   }
  .h1-span{
    margin: 0 0;
    font-size: 15px;
  }
  .main-advantages__item{
    height: 20px;
  }
  .main-advantages__text{
    width: 70%;
    font-size: 12px;
  }
  .main-img{
   display: none;
  }
  .header-text{
    width: 500px;
    margin: 0 0;
  }
  .header-text__phone{
    font-size: 15px;
    width: 100%;
  }
  .form{
    width: 60%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .button-text{
    width: 70%;
    text-align: center;
    display: inline;
    margin-bottom: 50px;
  }
  .button{
    padding: 2px 5px;
    font-size: 10px;
    height: 30px;
  }
  .input{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    font-size: 10px;
    height: 50px;
  }
  .input-tel{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .input-name{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .inverse{
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-left: auto;
  }
  .container{
    margin: 0 0;
    width: 100%;
    height: 100%;
  }
  .form{
    margin: 0 0;
    width: 100%;
  }
  .form-form{
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .form__tel-img{
    display: none;
  }
  .form__contact{
    margin: 0 0;
    margin-bottom: 5px;
  }
  .form__title{
    margin-left: 35px;
    margin-right: 5px;
    font-size: 15px;
    width: 70%;
    margin-bottom: 0px;
    text-align: center;
  }
  .form__subtitle{
    margin-left: 35px;
    margin-right: 5px;
    font-size: 15px;
    text-align: center;
    width: 70%;
  }
  .form__title{
    line-height: 15px;
    font-size: 12px;
   }
   .form__subtitle{
    font-size: 12px;
    padding-bottom: 10px;
   }
   .input-name{
     height: 10px;
     width: 80%;
     padding: 20px 0px 20px 10px;
   }
   .input-tel{
    height: 10px;
    width: 80%;
    padding: 20px 0px 20px 10px;
   }
   .button-text{
     margin-bottom: 15px;
   }
   .inverse{
     height: 100%;
   }
   .form__contact{
     font-size: 12px;
     line-height: 15px;
     }
   .form__tel-text{
    font-size: 10px;
   }
   .form__tel-tel{
    font-size: 10px;
    line-height: 0;
    
   }
  .img-form{
    display: none;
  }
 }
 @media (max-width: 320px){
   .header-text{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
     width: 100%;
   }
   .header{
     height: 100%;
   }
   .header-logo{
    margin-bottom: 10px;
   }
   .header-text__contacts{
     margin-bottom: 15px;
   }
   .container-main{
     width: 100%;
     margin: 0 0;
   }
   .main-wrap{
    width: 100%;
    height: 100%;
    margin: 0 0;
   }
   .main-text__title{
    width: 60%;
    margin-right: 0px;
    margin-left: 55px;
    padding-bottom: 15px;
    line-height: 25px;
   }
   .main-advantages{
    width: 100%;
    height: 100%;
    margin: 0 0;
   }
   .main-advantages__img{
     margin-left: 15px;
   }
   .main-advantages__item{
     margin-bottom: 60px;
   }
   .container{
    width: 100%;
    height: 100%;
   }
   .form{
    width: 100%;
    height: 100%;
    margin: 0 0;
   }
   .form-form{
     width: 100%;
     height: 100%;
   }
   .form__title{
    margin-bottom: 30px;
    line-height: 25px;
    font-size: 12px;
   }
   .form__subtitle{
    font-size: 12px;
    padding-bottom: 10px;
   }
   .input-name{
     height: 10px;
     width: 80%;
     padding: 20px 0px 20px 10px;
   }
   .input-tel{
    height: 10px;
    width: 80%;
    padding: 20px 0px 20px 10px;
   }
   .button-text{
     margin-bottom: 15px;
   }
   .inverse{
     height: 100%;
   }
   .form__contact{
     font-size: 12px;
     line-height: 15px;
     }
   .form__tel-text{
    font-size: 10px;
   }
   .form__tel-tel{
    font-size: 10px;
    line-height: 0;
    
   }

   }

 

  